<div class="navbar navbar-fixed-top">
  <div class="">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">{{site.name}}</a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Overview</a></li>
        <li><a href="datamodel.html">Data Model</a></li>
        <li><a href="concepts.html">Concepts</a></li>
        <li><a href="security.html">Security</a></li>
        <li><a href="api.html">API</a></li>
        <li><a href="{{site.github}}">Source</a></li>
      </ul>
    </div>
  </div>
</div>
