body { padding-top: 70px; }

.sidebar-nav {
  padding: 0px;
}

.sidebar-nav-fixed {
    position:fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    background-color: #eee;
    overflow-y: scroll;
}

.nav-list {
  list-style: none;
}

.navpad {
  margin-left: 60px;
}

footer {
  float: right;
}

@media (max-width: 600px) {
    .sidebar-nav-fixed {
        display: none;
    }
}

