<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{{ page.title }}</title>

<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/github.css">
<link rel="stylesheet" href="stylesheets/tweaks.css">
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

{% include nav.html %}

<div class="container main">
  <div class="row">
    <div class="col-lg-2" id="leftnav">
      <div class="well sidebar-nav sidebar-nav-fixed">
        <ul class="nav nav-list" id="toc">
        </ul>
      </div>
    </div>
    <div class="col-lg-10" id="content">
      {{content}}
    </div>
  </div>
  <hr>
  <footer>
    <p>Copyright &copy; {{ site.time | date: "%Y" }}</p>
  </footer>
</div>

</body>
<script>
//auto active
$('li a').each(function(){
  if(this.href == window.location.href) {
    $(this).parent().addClass('active');
  }
})
//room for the nav
$(document).on('click', function(event){
  if(event.target.href) {
    setTimeout(function(){
      $('body').scrollTop($('body').scrollTop() - 50);
    });
  }
});
//autotoc
var $nested = null;
var tocItems = 0;
$(':header').each(function(){
  if(this.tagName == 'H4') return;
  var $toc = $('#toc');
  if(this.tagName == 'H2') {
    var $link = $('<li class=""><a class="dropdown-toggle" href="#" data-toggle="dropdown"></a></li>');
    $nested = $('<ul class="dropdown-menu" role="menu"/>');
    $link.append($nested);
    $link.find('a')
    .attr('href',"#"+this.id)
    .text(this.innerText)
    .attr('data-target', '#');
    $toc.append($link);
    tocItems++;
  }
  //self link
  var $link = $('<li><a href="#"></a></li>');
  $link.find('a')
  .attr('href',"#"+this.id)
  .text(this.innerText);
  $nested.append($link);
  if(this.tagName == 'H2'){
    $nested.append($('<li class="divider"></li>'));
  }
});
if(tocItems == 0) {
  $('#leftnav').hide();
}
$('table').addClass('table table-bordered table-striped');
</script>
</html>
